html{
    scroll-padding-top: 150px;
}

.sticky-container{
    position: sticky;
    top:0;
    background-color: white;
    z-index: 100;
    
}

.ucsd{
    max-width: 400px;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 4000px;
}

li{
    display: inline-block;
    font-size: 28px;
}

li a{
    color: black;
    text-decoration: none;
    display: block;
    padding: 8px;
}

li a:hover{
    background-color: #182b49;
    color:white;
}

.section1{
    background-color: rgb(245, 240, 230);
    width: 100%;
    display: inline-block;
    font-size: 28px;
}

.section2{
    background-image: url("https://www.ucsd.edu/_resources/img/bg-orbs-1.jpg");
    color: white;
    width: 100%;
    display: inline-block;
    font-size: 28px;
}

.section3{
    font-size: 28px;
    background-color: rgb(245, 240, 230);
    width: 100%;
    display: inline-block;
}

.grids{
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
    grid-template-rows: minmax(100px, auto);
}
  
.one{
    grid-column: 1;
    grid-row: 2 / 5;
    background-color: #182b49;
    color: white;
  }

  .two {
    grid-column: 2;
    grid-row: 2 / 5;
    background-color: #182b49;
    color: white;
  }

  .three {
    grid-column: 3;
    grid-row: 2 / 5;
    background-color: #182b49;
    color: white;
  }

  .four {
    grid-column: 4;
    grid-row: 2 / 5;
    background-color: #182b49;
    color: white;
  }